<header data-role="header" class="">
      <h1>
        网点注册
      </h1>
</header>
  <div class="main" data-role="content">
  <div class="main-content">
    <div class="form-content">

注册请求已提交审核，请稍后登录
</div>
</div>
</div>
