<header data-role="header" class="">
<h1>
weebill sys     
</h1>
</header>
  <div class="main" data-role="content">
  <div class="main-content">
    <div class="form-content">

<div class="control-group ">
  <div class="field_content">
    <div class="help-block"><%=@message%></div>
  </div>
</div>

</div>
</div>
</div>


