/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.title {
	background: #978d8d;
	margin:40px auto;
	width:604px;
	border-radius:5px;
	overflow: hidden;
	box-shadow: 5px 5px 3px #ccc;
	padding:5px 0px;
}
.title ul {
	padding : 0;
	margin:0;
}
.title li {
	background: #978d8d;
	display:inline-block;
	width:200px;
	height:30px;
	font-size:18px;
	text-align: center;
	border-width:0px 1px 0px 0px;
	border-style:solid;
	border-color:#bbb;
}
.title li:last-child{
	border-right-width:0px ;
}
.title li a {
	color: white;
	text-decoration: none;
}
.title li span {
	line-height: 30px;
	padding:6px 64px;
}
.body {
	width:1000px;
	margin:10px auto;
}
.table th {
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #443f3f;
	text-align: center!important;
	color:white;
}
.table td {
	padding:5px 25px;
	text-align: center!important;

}
.table  {
	padding: 5px;
	font-size:17px;
	margin:10px auto;
}
th:first-child {
	border-top-left-radius: 5px;
}
th:last-child {
	border-top-right-radius: 5px;
}
.tr_0 {
	background-color: #eed;
}
.tr_1 {
	background-color: white;
}
form >div {
	display:inline-block;
}
.city_selector > div {
	display:inline-block;
}
select,input[type="text"] {
	margin: 0px!important;
}
.buttons {
	width:1000px;
	margin:0px auto;
}
.buttons > input {
	float:right;
	margin-right: 5px;
	font-size: 18px;
	padding:8px 20px;
}
.buttons > div {
	display: inline-block;
}
.pagination {
	margin: 5px 0px!important;
}
.msg {
	border-radius: 5px;
	font-size: 16px;
	color:white;
	padding: 8px;
	text-align: center;
	display: none;
	margin:10px 0px;
}
#save_success {
	background-color: #6c6;
}
#save_fail ,#warn{
	background-color: #c66;
}
input[type="text"] {
	height:30px!important;
}
