<!DOCTYPE html>
<html>
<head>
  <title>Weebill</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="title">
	<ul>
		<li>
			<a href="#">
				<span>网点管理</span>
			</a>
		</li><li>
			<a href="#">
				<span>任务管理</span>
			</a>
		</li><li style="border-width:0px;">
			<a href="#">
				<span>导入客户</span>
			</a>
		</li>
	<ul>
</div>
	<%= yield %>
</body>
</html>
