<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">  
<%= javascript_include_tag "application" %>
<link href="/assets/mobile.css" media="screen" rel="stylesheet" type="text/css" />
<%= csrf_meta_tags %>
<style type="text/css">
  [data-role=header] {
        background: #a2ad57;
        border-color: #a2ad57;
  }
  .header-image[data-role=header] {}
</style>
</head>
<body ontouchstart="">
<div data-role="page" class="page">
<%= yield %>
</div>


</body>
</html>